/* 
    Created on : 22.06.2019, 14:59:49
    Author     : JAVA
*/
nav ul {
    list-style: none;
    margin: 0;
    
}

nav ul>li{
    display: inline-block;
    width: auto;
    margin-right: 1em;
    
}

nav ul>li:last-child{
    margin-right: 0;
}
